// normalize css
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

// import google font roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');

/*
----------------------
main structure
----------------------
*/
// form
#tax-shelter {
  width: 1120px;
  margin: 0 auto 150px auto;
  position: relative;

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 40px);
    padding: 0;
    box-sizing: border-box;
  }
}