/*
----------------------
input fields
----------------------
*/
.tax-shelter-form {
  // input fields
  input[type="text"] {
    text-align: right;
  }
  input[type="text"],
  input[type="date"] {
    background: $practinet-input-bg;
    border-radius: $practinet-input-border-radius;
    color: $practinet-input-c;
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    font-size: 14px;
    border: 1px solid $practinet-input-border-color;
    @media only screen and (max-width: 520px) {
      width: 100%;
      box-sizing: border-box;
    }

    &:hover {
      background: $practinet-input-active-bg;
      border: 1px solid #f0f1f4;
    }

    &:focus,
    &:active {
      border: 1px solid $practinet-input-active-border-c;
      background: white;
    }

  }
}


.tax-shelter-form {
  .custom-radio-container {
    display: inline-block;
    text-align: left;
    width: auto;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    &:hover {
      input {
        ~ {
          .custom-radio-btn {
            background-color: #fff;
          }
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        ~ .custom-radio-btn {
          background: white;
          border: 1px solid $practinet-input-c;
          &:after {
            display: block;
          }
        }
      }
    }
    /* Create a custom checkbox */
    .custom-radio-btn {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #ededed;
      border-radius: 50px;
      border: 1px solid #e0e8ec;
      // not checked
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 3px;
        top: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: $practinet-input-c;
      }
    }
  }
}
