/*
----------------------
intro taxshelter gallop
----------------------
*/
article.taxshelter {
  margin-bottom: 0;

  strong {
    font-size: 15px;
    color: $practinet-c-black;
    font-weight: 700;
  }

  p {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 60px;
    }
  }
  ul {
    margin-left: 0;
    padding-left: 20px;
    margin-bottom: 30px;
  }
}