body {
  font-family: $practinet-f-main;
  font-size: 15px;
  color: $practinet-c-main;
  background: $practinet-c-white;
  line-height: 1.6;
}

// h1 - tax shelter
.tax-shelter-titel {
  font-size: 30px;
  font-weight: 400;
  color: $practinet-title-main;
  margin-top: 80px;
  margin-bottom: 70px;
}

// title legent
.tax-shelter-form {
  legend {
    display: block;
    width: 100%;
    font-size: 18px;
    color: $practinet-legend-c;
    font-weight: 500;
    padding-top: 25px;
    border-top: 1px solid $practinet-legend-border-c;
    margin-bottom: 20px;

    @media only screen and (max-width: 520px) {
      padding-top: 30px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}

.tax-shelter-boeking {
  // title boekingen
  h2 {
    text-align: left;
    font-size: 18px;
    color: $practinet-title-main;
    margin-bottom: 25px;
    margin-top: 35px;
    font-weight: 500;
  }
}
