/*
----------------------
tax shelter tools
----------------------
*/
$practinet-c-main: #585858;
$practinet-c-black: #000;
$practinet-c-white: #fff;
$practinet-title-main: #2d4d96;
$practinet-highlight-result-blue: #f5efe1;
$practinet-result-highlight-bg-light: #f5efe1;
$practinet-result-highlight-bg-main:  #2d4d96;
$practinet-c-red: #f32b52;


// input
$practinet-input-bg: #f3f7fa;
$practinet-input-border-radius: 3px;
$practinet-input-border-color: #dce5ec;
$practinet-input-c: #2d4d96;

$practinet-input-active-bg: #f9fafc;

$practinet-input-active-border-c: #a4bccb;


// legend
$practinet-legend-c: #2d4d96;
$practinet-legend-border-c: #e0e8ec;

$pactinet-label-tool-c: #2d4d96;

// background btns
$practinet-btn-gray: #E6E6E6;
$practinet-btn-main-bg: #42ae9a;

// error
$practinet-input-bg-error: #f9f0f2;
$practinet-input-border-error: #f32b52;

// gray values
$practinet-gray-75: #BFBFBF;
$practinet-gray-85: #d9d9d9;
$practinet-gray-90: #E6E6E6;
$practinet-gray-95: #F2F2F2;
$practinet-gray-99: #fcfcfc;

// gallop font
$practinet-f-main: roboto, arial, "sans serif";