

// error input field
div.tax-shelter-input-error {
  input[type="text"] {
    background: $practinet-input-bg-error;
    border: 1px solid $practinet-input-border-error;
  }
}

// warning overinstevestering
.overinvestering-warning {
  color: $practinet-c-red;

}

//ul errors input field
.errors {
  padding-left: 0;
  list-style: none;

  .error-item {
    position: relative;
    list-style: none;
    color: $practinet-c-red;
    top: -10px;

    // same width before as label
    &:before {
      width: 50%;
      content: "";
      display: inline-block;
      max-width: 450px;
      margin-right: 21px;
    }
  }
}