
// import google font lato
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap');


/*
----------------------
main structure
----------------------
*/
// form
#tax-shelter {
  width: 1120px;
  margin: 0 auto 0 auto;
  position: relative;
  padding-bottom: 150px;

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 40px);
    box-sizing: border-box;
  }
}