/*
----------------------
button bereken
----------------------
*/
.tax-shelter-form {
  padding-bottom: 30px;
  margin-bottom: 0;

  button {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 38px;
    height: 38px;
    border-radius: 50px;
    padding: 0 40px;
    background: $gallop-btn-main-bg;
    color: $gallop-c-white;
    font-size: 14px;
    display: flex;
    cursor: pointer;
    margin: 0 auto 0 auto;
    width: 185px;
    text-align: center;
    justify-content: center;
    border: none;
    @media only screen and (max-width: 520px) {
      width: 100%;
    }
  }
}

// toggle button toon boekingen
.toggle-tax-shelter-boeking {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 38px;
  height: 38px;
  border-radius: 50px;
  padding: 0 40px;
  background: $gallop-btn-gray;
  color: $gallop-c-black;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  margin: 0 auto 20px auto;
  width: auto;
  text-align: center;
  justify-content: center;
  border: none;
  @media only screen and (max-width: 520px) {
    width: 100%;
  }
}
