/*
----------------------
footer gallop
----------------------
*/
footer {
  text-align: center;
  background: $gallop-c-black;
  color: #585858;
  padding: 25px 0;
  a {
    color: #585858;
    text-decoration: none;
    line-height: 1;
    &:hover {
      color: $gallop-c-white;
    }
  }
}