/*
----------------------
reset blue hightlight
----------------------
*/
textarea,
select,
input,
button {
  outline: none;
}

.tax-shelter-form {

  fieldset {
    margin: 0 0 30px 0;
    padding: 0;
    border: 0;
    @media only screen and (max-width: 520px) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      border-bottom: 1px solid $gallop-gray-90;
      padding-bottom: 30px;
    }

    // div = label + input
    > div {
      margin-bottom: 20px;

      // same styling label
      p {
        display: inline-block;
        text-align: right;
        width: 50%;
        max-width: 450px;
        margin: 0;
        margin-right: 18px;
        @media only screen and (max-width: 520px) {
          width: 100%;
          text-align: left;
          margin-bottom: 6px;
          vertical-align: top;
          margin-right: 0;
        }
      }
    }

    // label input fields
    label,
    > p:first-of-type {
      display: inline-block;
      text-align: right;
      margin-right: 18px;
      width: 50%;
      max-width: 450px;

      // required field asterisk
      &.required {
        &:after {
          content: "*";
          margin-left: 3px;
          color: $gallop-c-red;
        }
      }

      @media only screen and (max-width: 520px) {
        width: 100%;
        text-align: left;
        margin-bottom: 6px;
        vertical-align: top;
        margin-right: 0;
      }
    }
  }



  input[type="checkbox"],
  input[type="radio"] {
    + label {
      width: auto;
    }
  }
}

