
/*
----------------------
input fields
----------------------
*/
.tax-shelter-form {
  input[type="text"],input[type="date"] {
    background: $gallop-input-bg;
    border-radius: $gallop-input-border-radius;
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    font-size: 14px;
    border: 1px solid transparent;
    @media only screen and (max-width: 520px) {
      width: 100%;
      box-sizing: border-box;
    }

    &:hover {
      background: #f0f0f0;
    }
    &:focus,
    &:active {
      border: 1px solid #dedede;
      background: white;
    }
  }
}

/*
----------------------
custom radio button
----------------------
*/
.tax-shelter-form {
  .custom-radio-container {
    display: inline-block;
    text-align: left;
    width: auto;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      input {

        ~ {
          .custom-radio-btn {
            background: #f0f0f0;
          }
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        ~ .custom-radio-btn {
          background: white;
          &:after {
            display: block;
          }
        }
      }
    }
    /* Create a custom checkbox */
    .custom-radio-btn {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: $gallop-input-bg;
      border-radius: 50px;
      border: 1px solid $gallop-c-main;

      // not checked
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 3px;
        top: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: $gallop-c-main;
      }
    }
  }
}
