/*
----------------------
intro taxshelter gallop
----------------------
*/
article.taxshelter {
  margin-bottom: 0;

  strong {
    font-size: 15px;
    color: $gallop-c-black;
    font-weight: 700;
  }

  p {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 60px;
    }
  }

  aside {
    margin-bottom: 30px;
    background: white;
    border: 1px solid $gallop-message-warning-border;
    border-left: 5px solid $gallop-message-warning-border;
    color: $gallop-message-warning-c;
    font-weight: bold;
    box-shadow: none;
    padding: 20px 30px;
  }
}
