// boekingen
.tax-shelter-boeking {
  position: relative;
  margin-top: 40px;
  padding-bottom: 40px;

  // arrow up gray
  &:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 19px 18px 19px;
    border-color: transparent transparent #dbdbdb transparent;
    position: absolute;
    content: "";
    top: -18px;
    left: 50%;
    margin-left: -10px;
  }

  // arrow up white
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 16px 18px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    content: "";
    top: -16px;
    left: 50%;
    margin-left: -9px;
  }

  // styling debet & credit title only  in first tabel
  td.boeking-tabel-titel {
    color: $gallop-c-black;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 15px;
  }

  // wrapper boekingen

  .boeking-groep {

    // general table properties
    table {
      border: 1px solid $gallop-gray-90;
      margin-bottom: 30px;
      &:last-of-type {
        border-bottom: 1px solid $gallop-gray-90;
        margin-bottom: 0;
      }
      // regular td paddding
      td {
        padding: 4px 20px 4px 20px;

        // column boeking-codes
        &:first-child {
          width: 100px;
          border-right: 1px solid $gallop-gray-90;
        }

        // every td with numbers
        &[class*="value"] {
          text-align: right;
          border-left: 1px solid $gallop-gray-90;
          width: 120px;
        }
      }
      tr:first-child {
        td {
          padding-top: 15px;
        }
      }
      tr:nth-child(2) {
        td {
          border-top: none;
        }
      }

      tr:last-child {
        td {
          padding-bottom: 15px;
        }
      }
    }

    // 1e boeking-groep
    &:first-of-type {
      h2 {
        margin-bottom: 0;
        margin-top: 10px;
      }
      table {
        &:first-of-type {
          border-top: none;
          // row with titles debet & credit
          tr:first-of-type {
            td {
              border-left: 1px solid #ffffff;
              border-right: 1px solid #ffffff;
              border-bottom: 1px solid $gallop-gray-90;
              padding-top: 0;
              padding-bottom: 10px;
            }
          }
          tr:nth-child(2) {
            td {
              padding-top: 15px;
            }
          }
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

  }

  // title boekingen
  h2 {
    text-align: left;
    font-size: 18px;
    color: $gallop-c-black;
    margin-bottom: 25px;
    margin-top: 35px;
    font-weight: 700;
  }

  .boeking-code {
    span {
      color: $gallop-gray-75;
    }
  }
}