/*
----------------------
resultaat
----------------------
*/
// section general white bg & shadow
section {
  background: $gallop-c-white;
  border: 1px solid $gallop-gray-85;
  padding: 35px 55px;
  margin-bottom: 30px;
  box-shadow: 0 0 8px 0 rgba(3, 12, 33, 0.07);

  @media only screen and (max-width: 767px) {
    overflow-x: scroll;
  }

  @media only screen and (max-width: 767px) {
    padding: 35px 25px;
  }

  table {
    width: 100%;
    border-bottom: 1px solid $gallop-gray-85;
    padding: 10px 0;
    border-collapse: collapse;
    min-width: 640px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  td {
    padding: 6px 20px 6px 20px;

    @media only screen and (max-width: 767px) {
      padding: 6px 10px 6px 10px;
    }

    &:first-child {
      padding-left: 20px;
      @media only screen and (max-width: 767px) {
        padding-left: 0;
      }
    }

    &:last-child {
      text-align: right;
    }
  }

  .result-tax-shelter {
    padding: 10px 0;
  }
}


.tax-shelter-output {
  margin-bottom: 200px;

  h1 {
    margin-top: 10px;
    color: $gallop-c-gold;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  .tax-shelter-result {
    border-top: 1px solid #efefef;
    padding: 10px 0;
  }

  .tax-shelter-rendement {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
  }
}

/*
----------------------
first section with tables
----------------------
*/
.result-tax-shelter {
  table {
    td {
      text-align: right;
      width: 170px;
      &:first-child {
        width: 300px;
        text-align: left;
      }
    }
  }
  // border bottom add whitespace
  .tax-shelter-vrijstelling {
    td {
      padding-bottom: 20px;
      border-bottom: 1px solid $gallop-gray-85;
    }
  }
  //  add whitespace to top
  .belastingen-zonder-tax-shelter {
    td {
      padding-top: 20px;
    }
  }
  .belastingen-met-tax-shelter {
    td {
      padding-bottom: 20px;
    }
  }

  .result-maximale-tax-shelter {
    border-bottom: none;
  }

  // table with bg color
  .core-values-tax-shelter {
    background: $gallop-c-gold-light;
    border: none;

    .fiscaal-rendement {
      td {
        padding-top: 20px;
        padding-left: 20px;
      }
    }

    .financieel-rendement {
      td {
        padding-bottom: 20px;
        padding-left: 20px;
      }
    }

    // end result
    .totaal-rendement {
      td {
        background: $gallop-c-gold;
        padding-bottom: 10px;
        padding-top: 10px;
        color: $gallop-c-white;
        padding-left: 20px;
      }
    }
  }
  table {
    .aangelegde-liquidatiereserve {
      td {
        padding-top: 10px;
      }
    }
  }
}