
body {
  font-family: $gallop-f-main;
  font-size: 14px;
  color: $gallop-c-main;
  background: $gallop-gray-99;
  line-height: 18px;
}

// h1 - tax shelter
.tax-shelter-titel {
  font-size: 36px;
  font-weight: 900;
  color: $gallop-c-gold;
  margin-top: 80px;
  margin-bottom: 70px;
}

// title legent
.tax-shelter-form {
  legend {
    display: block;
    width: 100%;
    font-size: 15px;
    color: $gallop-c-black;
    font-weight: 700;
    padding-top: 25px;
    border-top: 1px solid $gallop-gray-90;
    margin-bottom: 20px;

    @media only screen and (max-width: 520px) {
      padding-top: 30px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}
