/*
----------------------
tax shelter tools
----------------------
*/
$gallop-c-main: #585858;
$gallop-c-black: #000;
$gallop-c-white: #fff;
$gallop-c-gold: #7c6e4b;
$gallop-c-gold-light: #f5efe1;
$gallop-c-red: #f31a6c;


// input
$gallop-input-bg: #ededed;
$gallop-input-border-radius: 3px;

// background btns
$gallop-btn-gray: #E6E6E6;
$gallop-btn-main-bg: $gallop-c-black;

// error
$gallop-input-bg-error: #f9f0f2;
$gallop-input-border-error: #f32b52;

// warning
$gallop-message-warning-border: #e2cfb0 ;
$gallop-message-warning-c: #877549;

// gray values
$gallop-gray-75: #BFBFBF;
$gallop-gray-85: #d9d9d9;
$gallop-gray-90: #E6E6E6;
$gallop-gray-95: #F2F2F2;
$gallop-gray-99: #fcfcfc;

// gallop font
$gallop-f-main: lato, arial, "sans serif";