

// error input field
div.tax-shelter-input-error {
  input[type="text"] {
    background: $gallop-input-bg-error;
    border: 1px solid $gallop-input-border-error;
  }
}

// warning overinstevestering
.overinvestering-warning {
  color: $gallop-c-red;

}

//ul errors input field
.errors {
  padding-left: 0;
  list-style: none;

  .error-item {
    position: relative;
    list-style: none;
    color: $gallop-c-red;
    top: -10px;

    // same width before as label
    &:before {
      width: 50%;
      content: "";
      display: inline-block;
      max-width: 450px;
      margin-right: 21px;
    }
  }
}
/*
----------------------
warning  error mesage
----------------------
*/
/*.non-representative-calculation {
  background: #f9e6e6;
  border-bottom: none;
  border-top: none;
  border-left: 4px solid #c74848;
  color: #c74848;
  font-weight: bold;
  box-shadow: none;
  border-right: none;
  padding: 20px 30px;
}*/

/*
----------------------
warning  Winst voor belastingen 1000000  - Max tax shelter investering ja
----------------------
*/

.non-representative-calculation {
  background: white;
  border: 1px solid $gallop-message-warning-border;
  border-left: 5px solid $gallop-message-warning-border;
  color: $gallop-message-warning-c;
  font-weight: bold;
  box-shadow: none;
  padding: 20px 30px;
}