/*
----------------------
II watermark op basis van extra wrap class / div
----------------------
*/
.gallop-wrap {
  position: relative;
  height: 100%;

  // watermerk II gallop
  &:before {
    position: absolute;
    content: "";
    background: url("../../../assets/gallop-II.svg") no-repeat 20px 100px;
    background-size: 250px;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  // dennen
  &:after {
    position: absolute;
    content: "";
    background: url("../../../assets/dennen.png") no-repeat 0 100%;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
}
