<template>
    <div class="boeking-groep">
        <h2 class="boeking-tabel-titel" v-html="omschrijving"></h2>
        <table class="boeking-tabel" v-for="(boeking, index) in boekingen">
            <tr v-if="index === 0 && displayDebitCredit">
                <td></td>
                <td></td>
                <td class="boeking-tabel-titel">{{$t('tax_shelter.debit')}}</td>
                <td class="boeking-tabel-titel">{{$t('tax_shelter.credit')}}</td>
            </tr>
            <boeking-row v-for="code in boeking"
                         :key="code.code"
                         :boeking-code="code.code"
                         :debit="code.isDebit"
                         :description="code.description"
                         :value="code.value"
            ></boeking-row>
        </table>
    </div>
</template>

<script>
    import BoekingRow from './boeking-row';

    export default {
        name: "boeking-group",
        props: ['boekingen', 'omschrijving', 'display-debit-credit'],
        components: {
            BoekingRow
        }
    }
</script>

<style scoped>

</style>
