<template>
    <tr class="boeking-row">
        <td class="boeking-code" v-html="boekingCode"></td>
        <td class="boeking-omschrijving" v-html="description"></td>
        <td class="debit-value" v-html="debit ? value : ''"></td>
        <td class="credit-value" v-html="!debit ? value : ''"></td>
    </tr>
</template>

<script>
    export default {
        name: "boeking-row",
        props: ['boeking-code', 'debit', 'description', 'value']
    }
</script>

<style scoped>

</style>
