<template>
        <section class="result-tax-shelter">
            <table class="result-maximale-tax-shelter" v-if="!noWinstVoorBelastingen">
                <tr class="effectieve-tax-shelter-investering" v-if="actualMaxTaxShelter">
                    <td v-html="$t('tax_shelter.optimal_tax_shelter_investment')"></td>
                    <td v-html="'<b>' + raming.aggregatie.effectieveTaxShelterInvestering + '</b>'"></td>
                    <td></td>
                </tr>
                <tr class="effectieve-tax-shelter-investering" v-else>
                    <td v-html="$t('tax_shelter.effective_tax_shelter_investment')"></td>
                    <td v-html="raming.aggregatie.effectieveTaxShelterInvestering"></td>
                    <td></td>
                </tr>
                <tr class="maximale-tax-shelter-investering">
                    <td v-html="$t('tax_shelter.maximal_tax_shelter_investment')"></td>
                    <td v-html="raming.aggregatie.maximaleTaxShelterInvestering"></td>
                    <td></td>
                </tr>
                <tr class="resterende-investeringsruime">
                    <td v-html="$t('tax_shelter.remaining_invest_space')"></td>
                    <td v-html="raming.aggregatie.resterendeInvesteringsRuimte"></td>
                    <td></td>
                </tr>
                <tr class="belastingen-zonder-tax-shelter">
                    <td v-html="$t('tax_shelter.tax_without_tax_shelter_investment')"></td>
                    <td v-html="raming.aggregatie.belastingZonderTaxShelterInvestering"></td>
                    <td></td>
                </tr>
                <tr class="belastingen-met-tax-shelter">
                    <td v-html="$t('tax_shelter.tax_with_tax_shelter_investment')"></td>
                    <td v-html="raming.aggregatie.belastingMetTaxShelterInvestering"></td>
                    <td></td>
                </tr>
            </table>
            <table class="core-values-tax-shelter">
                <tr class="fiscaal-rendement">
                    <td v-html="$t('tax_shelter.fiscal_profit')"></td>
                    <td v-html="raming.ratios.fiscaalRendement"></td>
                    <td v-html="raming.ratios.financieelRendementPercentage"></td>
                </tr>
                <tr class="financieel-rendement">
                    <td v-html="$t('tax_shelter.financial_profit_actual')"></td>
                    <td v-html="raming.ratios.nettoFinancieelRendement"></td>
                    <td v-html="raming.ratios.nettoFinancieelRendementPercentage"></td>
                </tr>
                <tr class="totaal-rendement">
                    <td v-html="$t('tax_shelter.total_profit')"></td>
                    <td v-html="raming.ratios.totaalRendement"></td>
                    <td v-html="raming.ratios.totaalRendementPercentage"></td>
                </tr>
            </table>
            <table v-if="!noWinstVoorBelastingen">
                <tr class="aangelegde-liquidatiereserve">
                    <td v-html="$t('tax_shelter.increased_liquidation_reserve')"></td>
                    <td v-html="raming.aangelegdeLiquidatieReserve"></td>
                    <td></td>
                </tr>
            </table>
        </section>
</template>

<script>
    export default {
        name: "gegeven-tax-shelter-onderinvestering",
        props: ['raming', 'noWinstVoorBelastingen', 'actualMaxTaxShelter']
    }
</script>

<style scoped>

</style>
