<template>
    <section class="result-tax-shelter">
        <section class="overinvestering-warning" v-html="$t('tax_shelter.warning_overinvestment')"></section>
        <section class="result-tax-shelter">
            <table class="result-maximale-tax-shelter">
                <tr class="effectieve-tax-shelter-investering">
                    <td v-html="$t('tax_shelter.effective_tax_shelter_investment')"></td>
                    <td v-html="raming.aggregatie.effectieveTaxShelterInvestering"></td>
                    <td></td>
                </tr>
                <tr class="maximale-tax-shelter-investering">
                    <td v-html="$t('tax_shelter.maximal_tax_shelter_investment')"></td>
                    <td v-html="raming.aggregatie.maximaleTaxShelterInvestering"></td>
                    <td></td>
                </tr>
                <tr class="resterende-investeringsruime">
                    <td v-html="$t('tax_shelter.carryover_investment')"></td>
                    <td v-html="raming.aggregatie.overinvestering"></td>
                    <td></td>
                </tr>
            </table>
            <table class="core-values-tax-shelter">
                <tr class="fiscaal-rendement">
                    <td v-html="$t('tax_shelter.fiscal_profit')"></td>
                    <td v-html="raming.ratios.fiscaalRendement"></td>
                    <td v-html="raming.ratios.fiscaalRendementPercentage"></td>
                </tr>
                <tr class="overgedragen-rendement">
                    <td v-html="$t('tax_shelter.carried_over_investment')"></td>
                    <td v-html="raming.ratios.overdrachtRendement"></td>
                    <td v-html="raming.ratios.overdrachtRendementsPercentage"></td>
                </tr>
                <tr class="financieel-rendement">
                    <td v-html="$t('tax_shelter.financial_profit_actual')"></td>
                    <td v-html="raming.ratios.nettoFinancieelRendement"></td>
                    <td v-html="raming.ratios.nettoFinancieelRendementPercentage"></td>
                </tr>
                <tr class="totaal-rendement">
                    <td v-html="$t('tax_shelter.total_profit')"></td>
                    <td v-html="raming.ratios.totaalRendement"></td>
                    <td v-html="raming.ratios.totaalRendementPercentage"></td>
                </tr>
            </table>
            <table>
                <tr class="aangelegde-liquidatiereserve">
                    <td v-html="$t('tax_shelter.increased_liquidation_reserve')"></td>
                    <td v-html="raming.aangelegdeLiquidatieReserve"></td>
                    <td></td>
                </tr>
            </table>
        </section>
    </section>
</template>

<script>
export default {
    name: 'gegeven-tax-shelter-overinstering',
    props: ['raming']
};
</script>

<style scoped>

</style>
