<!--suppress XmlDuplicatedId -->
<template>
    <div class="tax-shelter-wrap">
        <div id="tax-shelter">

            <h1 id="tax-shelter-titel" class="tax-shelter-titel">{{ $t('tax_shelter.title')}}</h1>

            <article class="taxshelter" v-html="$t('tax_shelter.info')"></article>
            <div id="tax-shelter-form" class="tax-shelter-form">
                <fieldset class="tax-shelter-display">
                    <legend>Weergave</legend>

                    <div>
                        <p>Vereenvoudigde weergave</p>
                        <label for="simple-view-ja" class="custom-radio-container">
                            {{ $t('tax_shelter.yes') }}
                            <input type="radio" name="simpleView" v-model="simpleView" id="simple-view-ja"
                                   :value="true">
                            <span class="custom-radio-btn"></span>
                        </label>

                        <label for="simple-view-nee" class="custom-radio-container">
                            {{ $t('tax_shelter.no') }}
                            <input type="radio" name="notSimpleView" v-model="simpleView"
                                   id="simple-view-nee"
                                   :value="false">
                            <span class="custom-radio-btn"></span>
                        </label>
                    </div>

                </fieldset>
                <template v-if="simpleView">
                    <fieldset class="tax-shelter-algemeen">
                        <legend>{{$t('tax_shelter.general')}}</legend>


                        <div :class="simpleErrors.aanslagjaar ? 'tax-shelter-input-error' : ''">
                            <label for="aanslagjaar" class="required">{{$t('tax_shelter.fiscal_year')}}</label>
                            <input class="required" name="aanslagjaar" type="text" id="aanslagjaar"
                                   v-model="simpleInput.aanslagjaar">
                        </div>
                        <validation :errors="simpleErrors.aanslagjaar"></validation>

                        <div :class="simpleErrors.paymentDate ? 'tax-shelter-input-error' : ''">
                            <label for="payment-date">{{$t('tax_shelter.payment_date')}}</label>
                            <input type="date" id="payment-date" v-model="simpleInput.paymentDate"
                                   name="paymentDate">
                        </div>
                        <validation :errors="simpleErrors.paymentDate"></validation>

                        <div :class="errors.taxShelterInvestering ? 'tax-shelter-input-error' : ''">
                            <label for="tax-shelter-investering">{{$t('tax_shelter.tax_shelter_investment')}}</label>
                            <input type="text" name="taxShelterInvestering" id="tax-shelter-investering"
                                   v-model="simpleInput.taxShelterInvestering">
                        </div>
                        <validation :errors="errors.taxShelterInvestering"></validation>

                    </fieldset>
                </template>
                <template v-else>
                    <fieldset class="tax-shelter-algemeen">
                        <legend>{{$t('tax_shelter.general')}}</legend>

                        <div :class="errors.aanslagjaar ? 'tax-shelter-input-error' : ''">
                            <label for="aanslagjaar" class="required">{{$t('tax_shelter.fiscal_year')}}</label>
                            <input class="required" name="aanslagjaar" type="text" id="aanslagjaar"
                                   v-model="input.aanslagjaar">
                        </div>
                        <validation :errors="errors.aanslagjaar"></validation>

                        <div :class="errors.maxTaxShelter ? 'tax-shelter-input-error' : ''">
                            <p>{{ $t('tax_shelter.optimal_tax_shelter') }}</p>
                            <label for="maxTaxShelter-ja" class="custom-radio-container">
                                {{ $t('tax_shelter.yes') }}
                                <input type="radio" name="maxTaxShelter" v-model="input.maxTaxShelter"
                                       id="maxTaxShelter-ja"
                                       :value="true">
                                <span class="custom-radio-btn"></span>
                            </label>

                            <label for="maxTaxShelter-nee" class="custom-radio-container">
                                {{ $t('tax_shelter.no') }}
                                <input type="radio" name="notMaxTaxShelter" v-model="input.maxTaxShelter"
                                       id="maxTaxShelter-nee"
                                       :value="false">
                                <span class="custom-radio-btn"></span>
                            </label>
                        </div>
                        <validation :errors="errors.maxTaxShelter"></validation>

                        <div :class="errors.taxShelterInvestering ? 'tax-shelter-input-error' : ''"
                             v-if="!input.maxTaxShelter">
                            <label for="tax-shelter-investering">{{$t('tax_shelter.tax_shelter_investment')}}</label>
                            <input type="text" name="taxShelterInvestering" id="tax-shelter-investering"
                                   v-model="input.taxShelterInvestering">
                        </div>
                        <validation :errors="errors.taxShelterInvestering"></validation>

                        <div :class="errors.maxLiqReserve ? 'tax-shelter-input-error' : ''">
                            <p>{{$t('tax_shelter.max_liquidation_reserve')}}</p>
                            <label for="maxLiqReserve-ja" class="custom-radio-container">
                                {{$t('tax_shelter.yes')}}
                                <input type="radio" name="maxLiqReserve" v-model="input.maxLiqReserve"
                                       id="maxLiqReserve-ja"
                                       :value="true">
                                <span class="custom-radio-btn"></span>
                            </label>
                            <label for="maxLiqReserve-nee" class="custom-radio-container">
                                {{$t('tax_shelter.no')}}
                                <input type="radio" name="notMaxLiqReserve" v-model="input.maxLiqReserve"
                                       id="maxLiqReserve-nee"
                                       :value="false">
                                <span class="custom-radio-btn"></span>
                            </label>
                        </div>
                        <validation :errors="errors.maxLiqReserve"></validation>

                        <div :class="errors.liqReserve ? 'tax-shelter-input-error' : ''" v-if="!input.maxLiqReserve">
                            <label for="liq-reserve">{{$t('tax_shelter.liquidation_reserve')}}</label>
                            <input type="text" name="liqReserve" id="liq-reserve" v-model="input.liqReserve">
                            <validation :errors="errors.liqReserve"></validation>
                        </div>

                        <div :class="errors.isVermeerdering ? 'tax-shelter-input-error' : ''">
                            <p>{{ $t('tax_shelter.increment_va')}}</p>
                            <label for="isVermeerdering-ja" class="custom-radio-container">
                                {{$t('tax_shelter.yes')}}
                                <input type="radio" name="isVermeerdering" v-model="input.isVermeerdering"
                                       id="isVermeerdering-ja" :value="true">
                                <span class="custom-radio-btn"></span>
                            </label>
                            <label for="isVermeerdering-nee" class="custom-radio-container">
                                {{$t('tax_shelter.no')}}
                                <input type="radio" name="notIsVermeerdering" v-model="input.isVermeerdering"
                                       id="isVermeerdering-nee" :value="false">
                                <span class="custom-radio-btn"></span>
                            </label>
                        </div>
                        <validation :errors="errors.isVermeerdering"></validation>

                        <div :class="errors.isVerlaagdTarief ? 'tax-shelter-input-error' : ''">
                            <p>{{$t('tax_shelter.decreased_tariff')}}</p>
                            <label for="isVerlaagdTarief-ja" class="custom-radio-container">
                                {{$t('tax_shelter.yes')}}
                                <input type="radio" name="isVerlaagdTarief" v-model="input.isVerlaagdTarief"
                                       id="isVerlaagdTarief-ja" :value="true">
                                <span class="custom-radio-btn"></span>
                            </label>

                            <label for="isVerlaagdTarief-nee" class="custom-radio-container">
                                {{$t('tax_shelter.no')}}
                                <input type="radio" name="isNotVerlaagdTarief" v-model="input.isVerlaagdTarief"
                                       id="isVerlaagdTarief-nee" :value="false">
                                <span class="custom-radio-btn"></span>
                            </label>
                        </div>
                        <validation :errors="errors.isVerlaagdTarief"></validation>

                    </fieldset>

                    <fieldset class="tax-shelter-boekhoudkundig">
                        <legend>{{$t('tax_shelter.accountancy')}}</legend>

                        <div :class="errors.winstVoorBelastingen ? 'tax-shelter-input-error' : ''">
                            <label for="winst-voor-belastingen">{{$t('tax_shelter.profit_before_taxes')}}</label>
                            <input type="text" id="winst-voor-belastingen" name="winstVoorBelastingen"
                                   v-model="input.winstVoorBelastingen">
                        </div>
                        <validation :errors="errors.winstVoorBelastingen"></validation>

                        <div :class="errors.dividenden ? 'tax-shelter-input-error' : ''">
                            <label for="dividenden">{{$t('tax_shelter.dividends')}}</label>
                            <input type="text" id="dividenden" name="dividenden" v-model="input.dividenden">
                        </div>
                        <validation :errors="errors.dividenden"></validation>

                        <div :class="errors.tantiemes ? 'tax-shelter-input-error' : ''">
                            <label for="tantiemes">{{$t('tax_shelter.tantiemes')}}</label>
                            <input type="text" id="tantiemes" name="tantiemes" v-model="input.tantiemes">
                        </div>
                        <validation :errors="errors.tantiemes"></validation>

                    </fieldset>

                    <fieldset class="tax-shelter-fiscale-correcties">
                        <legend>{{$t('tax_shelter.other_fiscal_corrections')}}</legend>

                        <div :class="errors.andereMutaties ? 'tax-shelter-input-error' : ''">
                            <label for="andere-mutaties" v-html="$t('tax_shelter.other_mutations_reserves')"></label>
                            <input type="text" id="andere-mutaties" name="andereMutaties"
                                   v-model="input.andereMutaties">
                        </div>
                        <validation :errors="errors.andereMutaties"></validation>

                        <div :class="errors.andereVerworpenUitgavenGeenAftrek ? 'tax-shelter-input-error' : ''">
                            <label for="andere-verworpen-uitgaven-geen-aftrek">{{$t('tax_shelter.other_disposed_expenses_no_deduction')}}</label>
                            <input type="text" name="andereVerworpenUitgavenGeenAftrek"
                                   id="andere-verworpen-uitgaven-geen-aftrek"
                                   v-model="input.andereVerworpenUitgavenGeenAftrek">
                        </div>
                        <validation :errors="errors.andereVerworpenUitgavenGeenAftrek"></validation>

                        <div :class="errors.andereVerworpenUitgavenWelAftrek ? 'tax-shelter-input-error' : ''">
                            <label for="andere-verworpen-uitgaven-wel-aftrek">{{$t('tax_shelter.other_disposed_expenses_with_deduction')}}</label>
                            <input type="text" id="andere-verworpen-uitgaven-wel-aftrek"
                                   name="andereVerworpenUitgavenWelAftrek"
                                   v-model="input.andereVerworpenUitgavenWelAftrek">
                        </div>
                        <validation :errors="errors.andereVerworpenUitgavenWelAftrek"></validation>

                        <template
                                v-if="input.aanslagjaar === null || input.aanslagjaar === '' || parseInt(input.aanslagjaar, 10) <= 2018">
                            <div :class="errors.aftrekBewerking ? 'tax-shelter-input-error' : ''">
                                <label for="aftrek-bewerking">{{$t('tax_shelter.deduction_calculations')}}</label>
                                <input type="text" id="aftrek-bewerking" v-model="input.aftrekBewerking"
                                       name="aftrekBewerking">
                            </div>
                            <validation :errors="errors.aftrekBewerking"></validation>
                        </template>
                        <template v-else>
                            <div :class="errors.aftrekBewerking ? 'tax-shelter-input-error' : ''">
                                <label for="aftrek-bewerking-2019">{{$t('tax_shelter.deduction_calculations_without_grain_limitation')}}</label>
                                <input type="text" id="aftrek-bewerking-2019" name="aftrekBewerking"
                                       v-model="input.aftrekBewerking">
                            </div>
                            <validation :errors="errors.aftrekBewerking"></validation>

                            <div :class="errors.aftrekkenMetKorfbeperking ? 'tax-shelter-input-error' : ''">
                                <label for="aftrek-bewerking-met-korfbeperking">{{$t('tax_shelter.deduction_calculations_with_grain_limitation')}}</label>
                                <input type="text"
                                       id="aftrek-bewerking-met-korfbeperking"
                                       v-model="input.aftrekkenMetKorfbeperking"
                                       name="aftrekkenMetKorfbeperking"
                                >
                            </div>
                            <validation :errors="errors.aftrekkenMetKorfbeperking"></validation>
                        </template>

                    </fieldset>

                    <fieldset>
                        <legend v-html="$t('tax_shelter.non_deductible_taxes')"></legend>

                        <div :class="errors.voorafBetalingKwartaal1 ? 'tax-shelter-input-error' : ''">
                            <label for="vooraf-betaling-kwartaal1" v-html="$t('tax_shelter.prepaid_quarter_1')"></label>
                            <input type="text" id="vooraf-betaling-kwartaal1" v-model="input.voorafBetalingKwartaal1"
                                   name="voorafBetalingKwartaal1">
                        </div>
                        <validation :errors="errors.voorafBetalingKwartaal1"></validation>

                        <div :class="errors.voorafBetalingKwartaal2 ? 'tax-shelter-input-error' : ''">
                            <label for="vooraf-betaling-kwartaal2" v-html="$t('tax_shelter.prepaid_quarter_2')"></label>
                            <input type="text" id="vooraf-betaling-kwartaal2" v-model="input.voorafBetalingKwartaal2"
                                   name="voorafBetalingKwartaal2">
                        </div>
                        <validation :errors="errors.voorafBetalingKwartaal2"></validation>

                        <div :class="errors.voorafBetalingKwartaal3 ? 'tax-shelter-input-error' : ''">
                            <label for="vooraf-betaling-kwartaal3" v-html="$t('tax_shelter.prepaid_quarter_3')"></label>
                            <input type="text" id="vooraf-betaling-kwartaal3" v-model="input.voorafBetalingKwartaal3"
                                   name="voorafBetalingKwartaal3">
                        </div>
                        <validation :errors="errors.voorafBetalingKwartaal3"></validation>

                        <div :class="errors.voorafBetalingKwartaal4 ? 'tax-shelter-input-error' : ''">
                            <label for="vooraf-betaling-kwartaal4" v-html="$t('tax_shelter.prepaid_quarter_4')"></label>
                            <input type="text" id="vooraf-betaling-kwartaal4" v-model="input.voorafBetalingKwartaal4"
                                   name="voorafBetalingKwartaal4">
                        </div>
                        <validation :errors="errors.voorafBetalingKwartaal4"></validation>

                        <div :class="errors.terugBetaalbareVoorheffing ? 'tax-shelter-input-error' : ''">
                            <label for="terug-betaalbare-voorheffing">{{$t('tax_shelter.reimbursable_withholding_taxes')}}</label>
                            <input type="text" id="terug-betaalbare-voorheffing"
                                   v-model="input.terugBetaalbareVoorheffing"
                                   name="terugBetaalbareVoorheffing">
                        </div>
                        <validation :errors="errors.terugBetaalbareVoorheffing"></validation>

                        <div :class="errors.regularisatiesVorigeJaren ? 'tax-shelter-input-error' : ''">
                            <label for="regularisaties-vorige-jaren">{{$t('tax_shelter.adjustments_previous_years')}}</label>
                            <input type="text" id="regularisaties-vorige-jaren"
                                   v-model="input.regularisatiesVorigeJaren"
                                   name="regularisatiesVorigeJaren">
                        </div>
                        <validation :errors="errors.regularisatiesVorigeJaren"></validation>
                    </fieldset>

                    <fieldset>
                        <legend v-html="$t('tax_shelter.extra_info')"></legend>
                        <div :class="errors.paymentDate ? 'tax-shelter-input-error' : ''">
                            <label for="payment-date">{{$t('tax_shelter.payment_date')}}</label>
                            <input type="date" id="payment-date" v-model="input.paymentDate"
                                   name="paymentDate">
                        </div>
                        <validation :errors="errors.paymentDate"></validation>
                    </fieldset>
                </template>

                <button ref="calcBtn" id="calculate" @click="calculate">{{$t('tax_shelter.calculate')}}</button>
            </div>

            <article ref="result" class="tax-shelter-output" v-if="result">
                <section v-if="calculationNotRepresentative" class="non-representative-calculation">
                    {{$t('tax_shelter.calculation_not_representative')}}
                </section>
                <section v-if="noWinstVoorBelastingen && !simpleView" class="non-representative-calculation">
                    <p>
                        Opgelet! U heeft een tax shelter investering ingevoerd zonder de winst voor belastingen te
                        specificeren. Hierdoor werd resultaat berekend in de veronderstelling dat de winst voor
                        belasting
                        geen limiterende factor is op het potentiële rendement.</p>
                    <p>
                        Gelieve steeds een belastingconsulent te raadplegen indien u hier niet zeker over bent.
                    </p>
                </section>
                <onderinvestering v-if="currentInput.maxTaxShelter && currentInput.isVerlaagdTarief" :raming="response.raming"
                                  :no-winst-voor-belastingen="noWinstVoorBelastingen"
                                  :actualMaxTaxShelter="true"
                ></onderinvestering>
                <max-ts-result v-else-if="currentInput.maxTaxShelter" :raming="response.raming"></max-ts-result>
                <overinvestering v-else-if="response.raming.aggregatie.isOverinvestering"
                                 :raming="response.raming"></overinvestering>
                <onderinvestering v-else :raming="response.raming"
                                  :no-winst-voor-belastingen="noWinstVoorBelastingen"
                                  :actualMaxTaxShelter="false"
                ></onderinvestering>
                <button class="toggle-tax-shelter-boeking" :class="showBoekingen ? 'button-on' : 'button-off'"
                        id="toggle-tax-shelter-boeking"
                        @click="toggleBoekingen">{{ showBoekingen ? $t('tax_shelter.hide_bookings') :
                    $t('tax_shelter.show_bookings') }}
                </button>
                <section ref="boekingen" class="tax-shelter-boeking" v-if="showBoekingen">
                    <boeking-group
                            :omschrijving="$t('tax_shelter.signature_framework_agreement')"
                            :display-debit-credit="true"
                            :boekingen="ondertekenen"
                    ></boeking-group>
                    <boeking-group
                            :omschrijving="$t('tax_shelter.payment_framework_agreement')"
                            :display-debit-credit="false"
                            :boekingen="raamovereenkomst"
                    ></boeking-group>
                    <boeking-group
                            :omschrijving="$t('tax_shelter.receipt_financial_compensation')"
                            :display-debit-credit="false"
                            :boekingen="financieleVergoeding"
                    ></boeking-group>
                    <boeking-group
                            :omschrijving="$t('tax_shelter.end_book_year')"
                            :display-debit-credit="false"
                            :boekingen="eindeBoekjaar"
                    ></boeking-group>
                    <boeking-group
                            v-if="response.raming.aggregatie.isOverinvestering && this.response.d689010Next !== '0,00'"
                            :omschrijving="$t('tax_shelter.start_book_year_correction')"
                            :display-debit-credit="false"
                            :boekingen="overdracht"
                    ></boeking-group>
                    <boeking-group
                            :omschrijving="$t('tax_shelter.definitive_exemption')"
                            :display-debit-credit="false"
                            :boekingen="definitieveVrijstelling"
                    ></boeking-group>
                </section>
            </article>
        </div>
    </div>
</template>
<script>
    import validation from '../../../../common/resources/js/components/ValidationComponent';
    import Input from '../databags/TaxShelterDatabag';
    import TaxShelterResultRow from './TaxShelterResultRow';
    import BoekingGroup from './boeking-group';
    import MaxTsResult from './uitvoer-maximale-tax-shelter';
    import Overinvestering from './gegeven-tax-shelter-overinstering';
    import Onderinvestering from './gegeven-tax-shelter-onderinvestering';
    import TaxShelterBoekingResponse from '../databags/TaxShelterBoekingResponse';
    import activate_tooltips from '../../../../common/resources/js/activate-tooltips';

    let input = new Input;
    const date = new Date();
    input.aanslagjaar = date.getFullYear() + 1;
    input.maxLiqReserve = true;
    input.maxTaxShelter = true;
    input.isVerlaagdTarief = false;
    input.isVermeerdering = false;

    function formatDate(date) {
        let month = '' + (date.getMonth() + 1);
        let day = '' + date.getDate();
        let year = date.getFullYear();

        if (month.length < 2) {
            month = '0' + month;
        }
        if (day.length < 2) {
            day = '0' + day;
        }

        return [year, month, day].join('-');
    }

    input.paymentDate = formatDate(date);

    export default {
        data() {
            const simpleInput = JSON.parse(JSON.stringify(input));
            simpleInput.maxTaxShelter = false;
            return {
                input: input,
                simpleInput: simpleInput,
                result: false,
                response: new TaxShelterBoekingResponse,
                error: false,
                errors: {},
                simpleErrors: {},
                showBoekingen: false,
                calculationNotRepresentative: false,
                calculatedInput: {},
                simpleView: false
            };
        },
        mounted() {
            //this.$refs.form.onsubmit = this.calculate;
            this.$watch('input', (newInput) => {
                this.calculationNotRepresentative = !newInput.equals(this.calculatedInput);
            }, {deep: true});

            activate_tooltips();
        },
        props: {
            baseUrl: {
                default: () => '',
                type: String
            },
            token: {
                type: String
            }
        },
        computed: {
            currentInput() {
                if (this.simpleView === true) {
                    return this.simpleInput
                }
                return this.input;
            },
            overdracht() {
                return [
                    [
                        {
                            code: '689<span class="grey-code">010</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.transfer_to_tax_free'),
                            value: this.response.d689010Next
                        },
                        {
                            code: '132<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.tax_free_reserve'),
                            value: this.response.c132010Next
                        }
                    ]
                ];
            },
            ondertekenen() {
                return [
                    [
                        {
                            code: '499<span class="grey-code">010</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.waitaccount_tax_shelter'),
                            value: this.response.d499010
                        },
                        {
                            code: '489<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.diverse_debt_gallop'),
                            value: this.response.c489010
                        }
                    ],
                    [
                        {
                            code: '689<span class="grey-code">010</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.transfer_to_tax_free'),
                            value: this.response.d689010
                        },
                        {
                            code: '132<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.tax_free_reserve'),
                            value: this.response.c132010
                        }
                    ],
                ];
            }
            ,
            definitieveVrijstelling() {
                return [
                    [
                        {
                            code: '132<span class="grey-code">010</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.tax_free_reserve'),
                            value: this.response.d132010
                        },
                        {
                            code: '789<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.withdrawal_tax_exempt_reserve'),
                            value: this.response.c789010
                        }
                    ],
                ];
            }
            ,
            financieleVergoeding() {
                return [
                    [
                        {
                            code: '550<span class="grey-code">010</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.credit_institutions'),
                            value: this.response.d550010
                        },
                        {
                            code: '751<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.financial_compensation_tax_shelter'),
                            value: this.response.c751010
                        }
                    ],
                ];
            }
            ,
            raamovereenkomst() {
                return [
                    [
                        {
                            code: '489<span class="grey-code">010</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.diverse_debt_gallop'),
                            value: this.response.d489010
                        },
                        {
                            code: '550<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.credit_institutions'),
                            value: this.response.c550010
                        }
                    ]
                ];
            }
            ,
            eindeBoekjaar() {
                let tbr = [
                    {
                        code: '6702<span class="grey-code">10</span>',
                        isDebit: true,
                        description: this.$t('tax_shelter.estimated_taxes_cost'),
                        value: this.response.d670210
                    }
                ];
                if (this.response.investeringTaxShelterMogelijk) {
                    tbr.push({
                        code: '49<span class="grey-code">5000</span>',
                        isDebit: true,
                        description: this.$t('tax_shelter.investment'),
                        value: this.response.d495000
                    });
                }
                tbr.push({
                    code: '499010',
                    isDebit: false,
                    description: this.$t('tax_shelter.waitaccount_tax_shelter'),
                    value:
                    this.response.c499010
                });
                tbr = [tbr];

                if (this.noWinstVoorBelastingen) {
                    return tbr;
                }

                if (this.response.positieveGeraamdeBelastingen) {
                    tbr.push([
                        {
                            code: '670<span class="grey-code">200</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.estimated_taxes'),
                            value:
                            this.response.d670200
                        },
                        {
                            code: '450<span class="grey-code">000</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.estimated_amount_tax_debts'),
                            value:
                            this.response.c450000
                        }
                    ]);
                } else {
                    tbr.push([
                        {
                            code: '412<span class="grey-code">000</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.to_be_recovered_taxes_advance'),
                            value: this.response.d412000
                        },
                        {
                            code: '6701<span class="grey-code">00</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.activated_taxes_paid_advances'),
                            value: this.response.c670100
                        }
                    ]);
                }
                tbr.push([
                        {
                            code: '6702<span class="grey-code">20<span class="grey-code">',
                            isDebit: true,
                            description: this.$t('tax_shelter.estimated_taxes_liquidation_reserve'),
                            value:
                            this.response.d670220
                        },
                        {
                            code: '450<span class="grey-code">010</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.estimated_amount_taxes_liquidation_reserve'),
                            value:
                            this.response.c450010
                        },
                    ],
                    [
                        {
                            code: '692<span class="grey-code">100</span>',
                            isDebit: true,
                            description: this.$t('tax_shelter.addition_to_remaining_reserves'),
                            value:
                            this.response.d692100
                        },
                        {
                            code: '133<span class="grey-code">030</span>',
                            isDebit: false,
                            description: this.$t('tax_shelter.distributable_reserves_liquidation_reserve'),
                            value:
                            this.response.c133030
                        }
                    ]);
                return tbr;
            },
            noWinstVoorBelastingen() {
                return this.currentInput.taxShelterInvestering !== undefined && this.currentInput.taxShelterInvestering !== '' &&
                    (this.currentInput.winstVoorBelastingen === '' || this.currentInput.winstVoorBelastingen === undefined);
            }
        },
        watch: {
            simpleView() {
                this.result = false;
                this.response = new TaxShelterBoekingResponse;
            }
        },
        methods: {
            toggleBoekingen() {
                this.showBoekingen = !this.showBoekingen;
                if (this.showBoekingen === true) {
                    this.$nextTick(() => this.$refs.boekingen.scrollIntoView({block: 'start', behavior: 'smooth'}));
                }
            },
            calculate(event) {
                event.preventDefault();
                this.result = false;
                this.errors = {};
                this.simpleErrors = {};
                this.$refs.calcBtn.disabled = true;
                this.calculationNotRepresentative = false;
                this.calculatedInput = Input.copy(this.currentInput);
                let newInput = Input.copy(this.currentInput);
                if (this.noWinstVoorBelastingen) {
                    this.calculatedInput.winstVoorBelastingen = 1000000000;
                    newInput.winstVoorBelastingen = this.calculatedInput.winstVoorBelastingen;
                }
                newInput.liqReserve = newInput.maxLiqReserve ? null : newInput.liqReserve;
                newInput.taxShelterInvestering = newInput.maxTaxShelter ? null : newInput.taxShelterInvestering;
                let axios = {};
                if (this.token) {
                    axios = this.$http.create({
                        headers: {
                            Authorization: this.token
                        }
                    });
                } else {
                    axios = this.$http;
                }
                axios.post(this.baseUrl + '/calculator/tax_shelter_boeking', newInput)
                    .then((response) => {
                        this.result = true;
                        this.response = response.data.data;
                        this.$nextTick(() => this.$refs.result.scrollIntoView({block: 'start', behavior: 'smooth'}));
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            if (this.simpleInput) {
                                this.simpleErrors = error.response.data.data;
                            } else {
                                this.errors = error.response.data.data;
                            }
                            document.querySelectorAll('input').forEach((element) => {
                                if (this.errors[element.id] !== undefined) {
                                    this.$nextTick(() => element.scrollIntoView({block: 'start', behavior: 'smooth'}));
                                }
                            });
                        }
                    }).finally(() => this.$refs.calcBtn.disabled = false);
            }
        },
        name: 'ramingtool',
        components:
            {
                validation,
                TaxShelterResultRow,
                BoekingGroup,
                MaxTsResult,
                Overinvestering,
                Onderinvestering
            }
    };
</script>
