<template>
    <section class="result-tax-shelter">
        <table class="result-maximale-tax-shelter">
            <tr class="tax-shelter-investering">
                <td v-html="$t('tax_shelter.optimal_tax_shelter_investment')"></td>
                <td v-html="raming.aggregatie.maximaleTaxShelterInvestering"></td>
                <td></td>
            </tr>
            <tr class="tax-shelter-vrijstelling">
                <td v-html="$t('tax_shelter.optimal_tax_shelter_pardon')"></td>
                <td v-html="raming.aggregatie.maximaleTaxShelterVrijstelling"></td>
                <td></td>
            </tr>
            <tr class="belastingen-zonder-tax-shelter">
                <td v-html="$t('tax_shelter.tax_without_tax_shelter_investment')"></td>
                <td v-html="raming.aggregatie.belastingZonderTaxShelterInvestering"></td>
                <td></td>
            </tr>
            <tr class="belastingen-met-tax-shelter">
                <td v-html="$t('tax_shelter.tax_with_tax_shelter_investment')"></td>
                <td v-html="raming.aggregatie.belastingMetTaxShelterInvestering"></td>
                <td></td>
            </tr>
        </table>
        <table class="core-values-tax-shelter">
            <tr class="fiscaal-rendement">
                <td v-html="$t('tax_shelter.fiscal_profit')">Fiscaal rendement</td>
                <td v-html="raming.ratios.fiscaalRendement"></td>
                <td v-html="raming.ratios.financieelRendementPercentage"></td>
            </tr>
            <tr class="financieel-rendement">
                <td v-html="$t('tax_shelter.financial_profit_actual')"></td>
                <td v-html="raming.ratios.nettoFinancieelRendement"></td>
                <td v-html="raming.ratios.nettoFinancieelRendementPercentage"></td>
            </tr>
            <tr class="totaal-rendement">
                <td v-html="$t('tax_shelter.total_profit')"></td>
                <td v-html="raming.ratios.totaalRendement"></td>
                <td v-html="raming.ratios.totaalRendementPercentage"></td>
            </tr>
        </table>
        <table>
            <tr class="aangelegde-liquidatiereserve">
                <td v-html="$t('tax_shelter.increased_liquidation_reserve')"></td>
                <td v-html="raming.aangelegdeLiquidatieReserve"></td>
                <td></td>
            </tr>
        </table>
    </section>
</template>

<script>
    export default {
        name: "uitvoer-maximale-tax-shelter",
        props: ['raming'],
    }
</script>

<style scoped>

</style>
