@import "../../../../common/resources/styling/scss/laudis-common";
//@import "../../../../auth/styling/login";
@import "./tool-taxshelter-gallop/variables-gallop";
@import "./tool-taxshelter-gallop/watermark-gallop";
@import "./tool-taxshelter-gallop/base-gallop";
@import "./tool-taxshelter-gallop/typo-gallop";
@import "./tool-taxshelter-gallop/intro-gallop";
@import "./tool-taxshelter-gallop/buttons-gallop";
@import "./tool-taxshelter-gallop/warnings-gallop";
@import "./tool-taxshelter-gallop/input-gallop";
@import "./tool-taxshelter-gallop/form-gallop";
@import "./tool-taxshelter-gallop/result-gallop";
@import "./tool-taxshelter-gallop/result-boekingen-gallop";
@import "./tool-taxshelter-gallop/footer-gallop";

/*
----------------------
navigation gallop
----------------------
*/

nav.navbar {
  background: $gallop-c-black;
  padding: 20px 0;
  width: 1120px;
  margin: 0 auto 150px auto;
  position: relative;


  @media only screen and (max-width: 1200px) {
    width: calc(100% - 40px);
  }
  @media only screen and (max-width: 767px) {
    margin: 0 auto 50px auto;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin-left: calc((-100vw + 100%) / 2);
    height: 100%;
    width: 100vw;
    background-color: $gallop-c-black;
    z-index: -1;
  }

  .navbar-collapse {
    @media only screen and (max-width: 767px) {
      width: calc(100% - 100px);
      flex-grow: unset;
    }
  }


  // logo
  .navbar-brand {
    margin-right: 40px !important;
    margin-left: 0 !important;
    @media only screen and (max-width: 767px) {
      margin-right: 20px !important;
    }

    img {
      margin: 0;
      padding: 0;
      @media only screen and (max-width: 767px) {
        width: 100px;
      }
    }
  }

  .navbar-nav {

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      margin-right: 0 !important;
    }
  }

  .nav-link {
    color: $gallop-gray-75;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media only screen and (max-width: 767px) {
      padding: 5px 0;
    }

  }
}

.input-group {
  width: auto;
  margin-left: auto;
  #locale-changer {
    min-width: 60px ;
  }
}

.input-group-prepend {
  display: none;
}

.row {
  margin: 0;
}

.login {
  margin: 0 auto 60px auto;
}
/*
----------------------
sticky footer
----------------------
*/
body > div:first-of-type {
  min-height: calc(100vh - 68px);
}
.footer {
  height:  68px;
}





